<% if(currentPaths[1]) { %>
  <ul class="nav nav-tabs sub-navi wrapper">
    <% for (let v of links[currentPaths[1]]) { %>
      <li class="nav-item">
        <a class="nav-link <%=(currentPath === secondPath + '/' + v.path ? 'active' : '') %>"
          href="<%=`${secondPath}/${v.path}`%>">
          <%=v.name%>
        </a>
      </li>
      <% } %>
  </ul>
  <% } %>