<div class="comment-wrapper">
  <form action="/admin/comment/" method="POST" name="commentForm">
    <input type="hidden" name="board_id" value="">
    <input type="hidden" name="user_id" value="">
    <div class="comment-create">
      <input type="text" name="writer" class="form-control" placeholder="이름">
      <input type="text" name="comment" class="form-control" placeholder="댓글">
      <button class="btn btn-primary">등록</button>
    </div>
  </form>
  <ul class="comment-wrap">
    <li class="comment-list">
      <div class="content">
        <div class="writer">우정양</div>
        <p class="comment">비가옵니다.</p>
      </div>
      <span class="date">2021-11-09 14:36:12</span>
    </li>
    <li class="comment-list">
      <div class="content">
        <div class="writer">우정양</div>
        <p class="comment">비가옵니다.</p>
      </div>
      <span class="date">2021-11-09 14:36:12</span>
    </li>

  </ul>

</div>
<link rel="stylesheet" href="/css/board-comment.css">