@import '../common';
.board-wrapper {
  &.init-wrapper {
    .create-tbl {
      .title {
        width: 15%;
        color: $dark-color;
        vertical-align: middle;
      }
      .content {
        width: 35%;
      }
    }
  }
}
