@import '../variables';
@import '../mixins';

.board-container {
  &.gallery-container {
    overflow-x: hidden;
    .list-wrap {
      //리스트페이지
      @include flex($w: wrap);
      width: 101%;
      .list {
        border: 1px solid red;
        width: 24%;
        padding-top: calc(24% - 2px);
        margin-right: 1%;
        margin-bottom: 1%;
        @include LG {
          width: 32.33333%;
          padding-top: calc(32.33333% - 2px);
        }
        @include MD {
          width: 49%;
          padding-top: calc(49% - 2px);
        }
        @include SM {
          width: 99%;
          padding-top: calc(99% - 2px);
        }
      }
    }
  }
}
