<%- include('../../inc/head.ejs') %>
<%- include('../../inc/header.ejs') %>
<link rel="stylesheet" href="/css/jstree/style.min.css">
<section class="cate-wrapper wrapper">
  <div class="cate-wrap">
    <div id="jstreeWrap"></div>
  </div>
  <div class="cate-form">

  </div>
</section>
<script src="/js/axios.min.js"></script>
<script src="/js/jstree.min.js"></script>
<script src="/js/<%= currents[1] %>/cate.js"></script>
<%- include('../../inc/foot.ejs') %>