<link rel="stylesheet" href="/css/board.css">
<article class="board-container default-type list-page">
  <table class="table text-center border-bottom">
    <thead class="list-default thead-dark ">
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td class="text-left">
          <a href="/admin/board/1?type=default">공지사항 입니다.</a>
        </td>
        <td>관리자</td>
        <td>2021-10-28</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
  <%- // include('../inc/pager.ejs') %>
    <div class="text-center my-4">
    <a href="/admin/board?type=create" class="btn btn-primary">글작성</a>
  </div>
</article>
<script src="/js/board/board.js"></script>