<link rel="stylesheet" href="/css/board-default.css">
<article class="board-container default-container">
  <table class="table text-center border-bottom">
    <thead class="list-default thead-dark ">
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td class="text-left">공지사항 입니다.</td>
        <td>관리자</td>
        <td>2021-10-28</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
  <%- // include('../inc/pager.ejs') %>
</article>