<link rel="stylesheet" href="/css/board-gallery.css">
<article class="board-container gallery-container">
  <ul class="list-wrap">
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
  </ul>
  <%- // include('../inc/pager.ejs') %>
</article>